@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@500&display=swap');

:root{
    --sidebar-color: rgb(44,45,49);

    --color-text: rgb(0,0,0);
    --color-text-menu: rgb(206, 208, 216);

    --color-menu-hover: rgb(238,238,238);
    --color-menu-hover-text: rgb(0,0,0);

    --color-link-active: #14ABE3;
    --color-link-text: rgb(255,255,255);

    --boton-color: #14ABE3;
    --boton-color-text: rgb(255,255,255);

    --color-space: rgb(180,180,180);

    --color-switch-base: rgb(201,202,206);
    --color-switch-circle: rgb(241,241,241);

    --color-scroll:rgb(192,192,192);
    --color-scroll-hover: rgb(134,134,134);

    --color-list-show-border:#A2C61E ;
}

.dark-mode{
    --sidebar-color: rgb(44,45,49);

    --color-text: rgb(255,255,255);
    --color-text-menu: rgb(110,110,117);

    --color-menu-hover: rgb(0,0,0);
    --color-menu-hover-text: rgb(238,238,238);

    --boton-color: rgb(255,255,255);
    --boton-color-text: rgb(0,0,0);

    --color-space: rgb(90,90,90);

    --color-switch-base: rgb(39,205,64);
    --color-switch-circle: rgb(255,255,255);

    --color-scroll:rgb(68,69,74);
    --color-scroll-hover: rgb(85,85,85);

    --color-list-show-border: rgb(255,255,255);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

/* Menú */
.menu{
    position: fixed;
    width: 40px;
    height: 40px;
    font-size: 20px;
    display: none;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    background-color: var(--boton-color);
    color: var(--boton-color-text);
    right: 15px;
    top: 5px;
    z-index: 100;
}

/* sidebar */
.sidebar{
    /* margin-top: 10px;
    margin-left: 10px;
    border: 2px solid var(--color-space); */
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    align-content: space-between; 
    width: 250px;
    border-radius: 1px;
    overflow: hidden;
    padding: 5px 15px;
    background-color: var(--sidebar-color);
    transition: width 0.5s ease,background-color 0.3s ease,left 0.5s ease;
    z-index: 50;
}

.layout-fixed .wrapper .sidebar {
    height: 100vh; /* Ocupa todo el alto de la ventana */
}

.mini-sidebar{
    width: 80px;
}

.sidebar span{
    width: 100px;
    white-space: nowrap;
    font-size: 18px;
    text-align: left;
    opacity: 1;
    transition: opacity 0.5s ease,width 0.5s ease;
}

.sidebar span.hidden{
    opacity: 0;
    width: 0;
}

/* Nombre de la pagina */
.sidebar .pagename{
    text-align: center;
    width: 100%;
    height: 45px;
    color: var(--color-text);
    margin-bottom: 12px;
    display: flex;
    align-items: center;
}

.sidebar .pagename i{
    min-width: 50px;
    font-size: 40px;
    cursor: pointer;
}

.sidebar .pagename span{
    /* margin-left: 5px; */
    font-size: 25px;
}

/* Menú navegacion */

.sidebar .navegation{
    margin-top: 10px;
    overflow-y:auto;
    overflow-x: hidden;
    scrollbar-width: none;
}

.sidebar .navegation ul{
    padding-left: 0;
}

.sidebar .navegation li{
    list-style: none;
    display: flex;
    margin-bottom: 5px;
    margin-left: none;
    padding-left: 0;
}

.sidebar .navegation a{
    width: 100%;
    height: 45px;
    display: flex;
    align-items: center;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    color: var(--color-text-menu);
}

.sidebar .navegation a:hover{
    background-color: var(--color-menu-hover);
    color: var(--color-menu-hover-text);
}

.sidebar .navegation i{
    min-width: 50px;
    font-size: 20px;
}

/* Space */

.sidebar .space{
    width: 100%;
    height: 1px;
    margin-top: 15px;
    background-color: var(--color-space);
    transition: background-color 0.3s ease;
}

/* Dark mode */
.sidebar .mode-dark{
    width: 100%;
    margin-bottom: 80px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}

.sidebar .mode-dark .info{
    width: 150px;
    height: 45px;
    overflow: hidden;
    display: flex;
    align-items: center;
    text-align: center;
    color: var(--color-text-menu);
}

.sidebar .mode-dark i{
    width: 50px;
    font-size: 20px;
}

/* switch */
.sidebar .mode-dark .switch{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 50px;
    height: 45px;
    cursor: pointer;
}

.sidebar .mode-dark .base{
    position: relative;
    display: flex;
    align-items: center;
    width: 35px;
    height: 20px;
    background-color: var(--color-switch-base);
    border-radius: 50px;
    transition: background-color 0.5s ease;
}

.sidebar .mode-dark .circle{
    position: absolute;
    width: 18px;
    height: 90%;
    background-color: var(--color-switch-circle);
    border-radius: 50%;
    left: 2px;
    transition: left 0.5s ease;
}

.sidebar .mode-dark .circle.on{
    left: 15px;
}

/* User */
.sidebar .user{
    width: 100%;
    display: flex;
}

.sidebar .user img{
    width: 50px;
    min-width: 50px;
    border-radius: 10px;
}

.sidebar .user .info-user{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--color-text);
    overflow: hidden;
}

.sidebar .user .name-email{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 5px;
}

.sidebar .user .name{
    font-size: 15px;
    font-weight: 600;
}

.sidebar .user .email{
    font-size: 13px;
}

.sidebar .user i{
    font-size: 20px;
}

/* main */
main{
    margin-left: 250px;
    padding: 20px;
    transition: margin-left 0.5s ease;
}
main.min-main{
    margin-left: 80px;
}

.list_item{
   cursor: pointer;
   overflow: hidden;
}

.list_show{
    width: 80%;
    margin-left: 10px;
    border-left: 2px solid var(--color-list-show-border);
    list-style: none;
    transition: height .4s;
    height: 0;
}

.nav-link-inside{
    border-radius: 6px;
    text-align: left;
}

.arrow .right{
    transform: rotate(-90deg);
}

.right{
    margin-left: auto;
    transition: transform .3s;
}

ul .nav-link-inside.active {
    background-color: var(--color-link-active);
    color: white;
    
}

ul .nav-link-inside.active:hover {
    background-color: var(--color-link-active);
    color: white;
    
}

/* Responsive */
@media (max-height: 680px){
    
    .sidebar .pagename{
        margin-bottom: 5px;
    }
    .sidebar .mode-dark{
        margin-bottom: 3px;
    }
}

@media (max-width: 600px){
    .sidebar{
        position: fixed;
        left: -250px;
    }
    .max-sidebar{
        left: 0;
    }
    .menu{
        display: flex;
    }
    .menu i:nth-child(2){
        display: none;
    }
    main{
        margin-left: 0;
    }
    main.min-main{
        margin-left: 0;
    }
}